@import "./normalize/normalize.css";
@import "./components/typography.css";

@import "./components/header.css";
@import "./components/footer.css";

@import "./components/objects.css";
@import "./components/elements.css";
@import "./components/buttons.css";

@import "./components/colors.css";
@import "./components/font.css";

.d-flex {
  display: flex;
}

.d-flex--center {
  display: flex;
  justify-content: center;
}
.d-flex--sp-btw {
  display: flex;
  justify-content: space-between;
}
.d-flex--sp-arnd {
  display: flex;
  justify-content: space-around;
}
.d-flex--column {
  display: flex;
  flex-direction: column;
}
.padding-none {
  padding: 0;
}
.margin-t--60 {
  margin-top: -60px;
}
.margin-t-80 {
  margin-top: 80px;
}
.margin-t-50 {
  margin-top: 50px;
}
.margin-t-10 {
  margin-top: 10px;
}
.margin-b-50 {
  margin-bottom: 50px;
}
.margin-b-80 {
  margin-bottom: 50px;
}
.margin-b-130 {
  margin-bottom: 130px;
}
.margin-tb-88 {
  margin: 88px 0 60px 0;
}
.position-rel {
  position: relative;
}
.position-abs {
  position: absolute;
}
