a {
  text-decoration: none;
  cursor: pointer;
}

.t-title {
  font-size: 58px;
  margin: 0;
  text-transform: uppercase;
}
.t-subtitle {
  font-size: 36px;
  letter-spacing: 0.04em;
}
.t-event-date {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #a1b6ff;
}
.t-event-prize {
  color: #f0ff43;
  font-size: 48px;
  margin-bottom: 0;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
