.c-t-white {
  color: #fff;
}
.c-t-footer a {
  color: #8d879c;
}
.c-bg-league--yellow {
  background: linear-gradient(180deg, #f0ff43 0%, #ffd749 100%);
}
.c-bg-league--red {
  background: linear-gradient(180deg, #ec0c4b 0%, #ff4a7d 100%);
}
.c-bg-league--blue {
  background: linear-gradient(105.74deg, #13b5f0 1.31%, #2e6dd7 79.17%);
}
.c-bg-prize--red {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 77, 0) 9.48%,
    rgba(255, 0, 77, 0.12) 42.21%,
    rgba(255, 0, 77, 0) 100%
  );
}
.color-t-yellow {
  color: #f3f744;
}
.color-t-vivid-red {
  color: #ec0c4b;
}
