.e-block--event-info {
  padding: 60px 0;
}
@media screen and (min-width: 1080px) {
  .e-block--event-info {
    padding: 60px 75px 0px 0px;
  }
  .e-block--event-info > .button-action {
    align-self: flex-start;
  }
}
.e-block--video-container {
  width: 770px;
  height: 462px;
  box-shadow: 0px 4px 200px rgba(255, 0, 107, 0.48);
  background: url("../../images/place_holder_video.jpg") no-repeat center center;
}
.e-block-social-sprite {
  /* max-width: 420px; */
  display: flex;
  flex-wrap: wrap;
  /* max-width: 280px; */
  justify-content: center;
}
@media screen and (max-width: 580px) {
  .e-block-social-sprite {
    width: 100%;
  }
}
.e-nav-footer .item,
.e-nav-footer-faq .item {
  margin-right: 20px;
}
.e-nav-footer .item:last-of-type,
.e-nav-footer-faq .item:last-of-type {
  margin-right: 0;
}
.e-block--league {
  width: 100%;
  height: 483px;
  margin-bottom: 35px;
  position: relative;
  background-color: #130b42;
  background-image: url("../../images/bg_league.svg");
  background-repeat: no-repeat;
  background-position: 80px 30px;
  border-top-right-radius: 75px;
  transition: all 1s;
  overflow: hidden;
}

.e-block--league:last-of-type {
  margin-right: 0;
}
.e-block--league:hover {
  box-shadow: 0px 4px 200px rgba(255, 0, 107, 0.48);
}

@media only screen and (min-width: 620px) {
  .e-block--league {
    width: calc(100% / 3);
    min-width: 350px;
    max-width: 100%;
  }
  .e-block--league.solo:after {
    content: "";
    position: absolute;
    width: 380px;
    height: 460px;
    bottom: 0;
    right: -60px;
    background: url("../../images/bristleabck_cutted.png") no-repeat right
      center;
    background-size: contain;
  }
  .e-block--league.nonpro:after {
    content: "";
    position: absolute;
    width: 400px;
    height: 460px;
    bottom: 0;
    right: -30px;
    background: url("../../images/dkmodel.png") no-repeat right center;
    background-size: contain;
  }
  .e-block--league.pro:after {
    content: "";
    position: absolute;
    width: 380px;
    height: 460px;
    bottom: 0;
    right: -40px;
    background: url("../../images/invoker2.png") no-repeat right center;
    background-size: contain;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1080px) {
  .e-block--league.nonpro:after {
    /* content: "";
    position: absolute; */
    width: 230px;
    /* height: 460px;
    bottom: 0; */
    right: 0;
    /* background: url("../../images/dkmodel.png") no-repeat right center; */
    /* background-size: contain; */
  }
  .e-block--league.solo:after {
    /* content: "";
    position: absolute; */
    width: 380px;
    /* height: 460px;
    bottom: 0; */
    right: -60px;
    /* background: url("../../images/bristleabck_cutted.png") no-repeat right */
    /* center; */
    /* background-size: contain; */
  }

  .e-block--league.pro:after {
    /* content: ""; */
    /* position: absolute; */
    width: 380px;
    /* height: 460px; */
    /* bottom: 0; */
    right: -40px;
    /* background: url("../../images/invoker2.png") no-repeat right center; */
    /* background-size: contain; */
  }
}
@media only screen and (min-width: 1080px) {
  .e-block--league {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .e-block--league.nonpro:after {
    /* content: "";
    position: absolute; */
    width: 400px;
    height: 460px;
    bottom: 0;
    right: 0;
    /* background: url("../../images/dkmodel.png") no-repeat right center; */
  }

  .e-block--league.solo:after {
    /* content: "";
    position: absolute; */
    width: 380px;
    height: 460px;
    bottom: 0;
    right: -20px;
    /* background: url("../../images/bristleabck_cutted.png") no-repeat right */
    /* center; */
    /* background-size: contain; */
  }

  .e-block--league.pro:after {
    /* content: "";
    position: absolute; */
    width: 380px;
    /* height: 460px; */
    bottom: 0;
    right: 0;
    /* background: url("../../images/invoker2.png") no-repeat right center; */
    /* background-size: contain; */
  }
}

.e-block--league .logo {
  width: 90px;
  height: 140px;
  margin: 20px 40px;
}
.nonpro .logo {
  background: url("../../images/logo_nonpro.svg") no-repeat center center;
}
.solo .logo {
  background: url("../../images/logo_solo.svg") no-repeat center center;
}
.pro .logo {
  background: url("../../images/logo_pro.svg") no-repeat center center;
}
.e-block--league .t-title-h4 {
  padding: 26px 0 22px 20px;
  margin: 20px 0;
  color: #130b42;
}
.e-block--league .t-list {
  padding-left: 22px;
}
.e-block--league .button-action,
.e-block--league .t-list {
  margin-left: 40px;
}
.e-block--league .button-action {
  position: relative;
  z-index: 10;
  color: #a1b6ff;
  border: 2px solid #a1b6ff;
  background: #250e4a;
}
/* .s-three {

} */
.s-three .logo {
  width: 125px;
  height: 193px;
  margin: auto;
}
.s-three .t-title-h3 {
  /* padding: 26px 40px 22px 40px; */
  margin: 20px 0;
  font-size: 40px;
}
/* .s-three .nonpro {
} */
/* schedule section*/
.e-block--shcedule {
  position: relative;
  padding-left: 60px;
}
.e-block--shcedule,
.e-block--shcedule p {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
.e-block--shcedule h4 {
  margin-top: 0;
  margin-bottom: 27px;
}
.icon-item:after {
  content: "";
  position: absolute;
}
.e-block--shcedule .icon-ammo:after {
  top: 50px;
  left: 0;
  width: 30px;
  height: 38px;
  background: url("../../images/icon_ammo-yellow.svg") no-repeat center center;
}
.e-block--shcedule .icon-ammo-red:after {
  top: 50px;
  left: 0;
  width: 30px;
  height: 38px;
  background: url("../../images/icon_ammo.svg") no-repeat center center;
}
/* .e-block--shcedule .icon-heads:after {
  top: -60px;
  left: 60px;
  width: 155px;
  height: 36px;
  background: url("../../images/icon_heads.svg") no-repeat center center;
} */
.icon-knight:after {
  /* top: 100px; */
  top: 0;
  left: -75px;
  width: 62px;
  height: 62px;
  background: url("../../images/icon_knight_red.svg") no-repeat center center;
}
.icon-legend:after {
  /* top: 179px; */
  top: -5px;
  left: -75px;
  width: 62px;
  height: 62px;
  background: url("../../images/icon_legend_red.svg") no-repeat center center;
}
.icon-godlike:after {
  /* top: 265px; */
  top: 0;
  left: -75px;
  width: 62px;
  height: 62px;
  background: url("../../images/icon_godlike_red.svg") no-repeat center center;
}
.e-block--shcedule .icon-swords:after {
  width: 34px;
  height: 30px;
  background: url("../../images/icon_swords.svg") no-repeat center center;
}
.icon-swords.sword-dark:after {
  bottom: 27px;
  left: 0;
  background: url("../../images/Icon_swords_dark.svg") no-repeat center center;
}

.e-block--shcedule .icon-swords.right-top:after {
  top: 55px;
  left: 0;
}
.e-block--shcedule .icon-swords.right:after {
  top: 55px;
  left: 0;
}
.e-block--shcedule .icon-swords.left:after {
  top: 55px;
  left: 0;
}
.icon-lc-xl:after {
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 69px;
  height: 60px;
  background: url("../../images/icon_champions_league_lfc_6times.svg") no-repeat
    center center;
  background-size: 100%;
}
.icon-lc-xl.yellow:after {
  background: url("../../images/icon_champions_league_lfc_6times-yellow.svg")
    no-repeat center center;
}
.e-block--shcedule .icon-lc:after {
  top: 55px;
  left: 0;
  width: 34px;
  height: 30px;
  background: url("../../images/icon_champions_league_lfc_6times.svg") no-repeat
    center center;
}
.e-block--shcedule .icon-lc.yellow:after {
  left: 0;
  background: url("../../images/icon_champions_league_lfc_6times-yellow.svg")
    no-repeat center center;
  background-size: 100%;
}
.e-block--shcedule.left {
  /* width: 0px; */
  padding-right: 20px;
}
.e-block--shcedule.left:after {
  content: "";
  width: 1px;
  height: 100px;
  position: absolute;
  bottom: -100px;
  background: linear-gradient(
    179.99deg,
    rgba(239, 255, 49, 0) 0%,
    #efff31 32.29%,
    #efff31 67.19%,
    rgba(239, 255, 49, 0) 95.16%
  );
}

.e-block--shcedule.right {
  padding-left: 60px;
  /* width: 480px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
/* .e-block--shcedule.left {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

@media only screen and (min-width: 1080px) {
  .s-three .t-title-h3 {
    /* padding: 26px 40px 22px 40px;
  margin: 20px 0; */
    font-size: 58px;
  }
  .e-block--shcedule.left {
    width: 480px;
    padding-right: 120px;
  }
  .e-block--shcedule.right {
    /* width: 480px; */
    /* align-items: center; */
    padding-left: 195px;
  }
  .e-block--shcedule .icon-swords.right-top:after {
    left: 200px;
  }
  .e-block--shcedule .icon-swords.right:after {
    left: 140px;
  }
  .e-block--shcedule .icon-lc:after {
    left: 140px;
  }

  .e-block--shcedule.right .o-text-container:after {
    content: "";
    top: 10px;
    left: 6px;
    width: 160px;
    height: 15px;
    position: absolute;
    background: url("../../images/s4_shcedule_line-right.svg") no-repeat center
      center;
    z-index: 10;
  }
  .e-block--shcedule.left:after {
    content: "";
    top: 10px;
    right: 6px;
    width: 160px;
    height: 16px;
    position: absolute;
    background: url("../../images/s4_schedule_line-left-yellow.svg") no-repeat
      center center;
    z-index: 10;
  }
  .e-block--shcedule.right.division {
    top: 223px;
    left: 0px;
  }
  .e-block--shcedule.right.division .o-text-container:after {
    /* display: none; */

    background: url("../../images/s4_shcedule_line-right.svg") no-repeat center
      center;
  }
  .e-block--shcedule .icon-ammo-red:after {
    /* top: 50px; */
    left: 135px;
    /* width: 30px;
  height: 38px;
  background: url("../../images/icon_ammo.svg") no-repeat center center; */
  }
  .e-vertical-line--red {
    top: 0;
    left: 2%;
    transform: translateX(-50%);
    width: 1px;
    height: 976px;
    background: linear-gradient(
      179.98deg,
      rgba(255, 0, 77, 0) 0%,
      #ff145b 32.29%,
      #ff004d 84.58%,
      rgba(251, 60, 117, 0) 95.16%
    );
  }
  .e-vertical-line--yellow {
    top: 0;
    right: 2%;
    width: 1px;
    height: 976px;
    transform: translateX(-50%);
    background: linear-gradient(
      179.99deg,
      rgba(239, 255, 49, 0) 0%,
      #efff31 32.29%,
      #efff31 67.19%,
      rgba(239, 255, 49, 0) 95.16%
    );
  }
  .e-block-social-sprite {
    max-width: 420px;
    display: block;
  }
}
/* prize section */
.e-block--prize {
  width: 305px;
  height: 487px;
  padding: 23px 28px;
  position: relative;
}
.e-block--prize-solo {
  width: 305px;
  height: 180px;
  margin-bottom: 30px;
  padding: 23px 28px;
  position: relative;
}
.e-block--prize-solo.small {
  width: 280px;
}
.e-block--prize-solo h3 {
  margin: 0;
}
.e-block--prize-solo h4 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
}
.e-block--prize:after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  width: 1px;
  height: 487px;
  background: linear-gradient(
    179.98deg,
    rgba(255, 0, 77, 0) 0%,
    #ff145b 32.29%,
    #ff004d 84.58%,
    rgba(251, 60, 117, 0) 95.16%
  );
}

.e-block--prize:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 1px;
  height: 487px;
  background: linear-gradient(
    179.98deg,
    rgba(255, 0, 77, 0) 0%,
    #ff145b 32.29%,
    #ff004d 84.58%,
    rgba(251, 60, 117, 0) 95.16%
  );
}
.e-block--prize-solo:before {
  content: "";
  top: 0;
  right: 0;
  width: 305px;
  height: 180px;
  position: absolute;
  background: url("../../images/prize_corner_XL.svg") no-repeat center center;
}
.e-block--prize-solo.small:before {
  width: 280px;
  background: url("../../images/prize_corner_L.svg") no-repeat center center;
}

.icon-prize--additional {
  /* text-align: center;
  bottom: -100px;
  left: -11px;
  width: 325px;
  height: 165px;
  padding-top: 100px;
  background: url("../../images/icon_prize_1st-additional.svg") no-repeat left
    center;
  background-size: contain; */
  display: none;
}

.icon-prize--additional.solo {
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 240px;
  background: url("../../images/top5.svg") no-repeat center center;
}

.icon-prize-1st {
  top: 55px;
  /* right: -26px; */
  left: 1px;
  width: 303px;
  height: 285px;
  z-index: 1;
  background: url("../../images/prize_1st_image_mobile.jpg") no-repeat center
    center;
  background-size: contain;
  margin-bottom: 50px;
}
.icon-prize-1st.solo {
  /* top: -62px; */
  /* right: -50px; */
  left: unset;
  /* width: 200px; */
  /* height: 220px; */
  padding-top: 100px;
  background: url("../../images/icon_prize_solo_1.svg") no-repeat center center;
}
.icon-prize-2nd {
  top: 100px;
  right: 0px;
  width: 225px;
  height: 275px;
  z-index: 10;
  background: url("../../images/prize_2nd-100k.svg") no-repeat center center;
  background-size: 100%;
}
.icon-prize-2nd.solo {
  /* top: -62px; */
  /* right: -50px; */
  /* width: 200px; */
  /* height: 220px; */
  background: url("../../images/icon_prize_solo_3.svg") no-repeat center center;
}

.icon-prize-3rd {
  top: 130px;
  right: 35px;
  width: 120px;
  height: 125px;
  z-index: 10;
  background: url("../../images/icon_prize_75k.svg") no-repeat center center;
  background-size: 100%;
}
.icon-prize-3rd.solo {
  /* top: -62px; */
  /* right: -50px; */
  /* width: 200px; */
  /* height: 220px; */
  background: url("../../images/icon_prize_solo_2.svg") no-repeat center center;
}

.icon-prize-1st.solo,
.icon-prize-2nd.solo,
.icon-prize-3rd.solo {
  max-width: 50%;
  height: 220px;
  top: -75px;
  right: 0;
  background-size: 100%;
}
.icon-prize-4th {
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  width: 265px;
  height: 107px;
  z-index: 10;
  background: url("../../images/prize-4th-place.svg") no-repeat center center;
}
.flex-order:nth-of-type(2) {
  order: -1;
}

/* @media only screen and (min-width: 580px) {
  .icon-prize-2nd {
    top: 130px;
    right: 20px;
    width: 265px;
    height: 275px;
    z-index: 10;
    background: url("../../images/prize_2nd-100k.svg") no-repeat center center;
  }
} */
@media only screen and (min-width: 1080px) {
  .icon-prize-main {
    top: -42px;
    left: 100px;
    width: 180px;
    height: 124px;
    z-index: 10;
    background: url("../../images/icon_prize_1M_main.svg") no-repeat center
      center;
  }
  .icon-prize-1st {
    top: 130px;
    right: 1px;
    left: unset;
    width: 345px;
    height: 285px;
    z-index: 1;
    background: url("../../images/prize_1st_150k.svg") no-repeat center center;
  }
  .icon-prize-2nd {
    top: 130px;
    right: 20px;
    width: 265px;
    height: 275px;
    z-index: 10;
    background: url("../../images/prize_2nd-100k.svg") no-repeat center center;
  }
  .icon-prize-3rd {
    top: 130px;
    right: 35px;
    width: 149px;
    height: 125px;
    z-index: 10;
    background: url("../../images/icon_prize_75k.svg") no-repeat center center;
  }
  .icon-prize-1st.solo,
  .icon-prize-2nd.solo,
  .icon-prize-3rd.solo {
    width: 200px;
    height: 220px;
    top: -63px;
    right: -50px;
    background-size: 100%;
  }
  /* prize section */

  .flex-order:nth-of-type(2) {
    order: 0;
  }

  .e-block--prize {
    width: 405px;
    height: 487px;
    padding: 23px 28px;
    position: relative;
  }
  .e-block--prize-solo {
    width: 405px;
    height: 180px;
    margin-bottom: 0;
    padding: 23px 28px;
    position: relative;
  }
  .e-block--prize-solo:before {
    content: "";
    top: 0;
    right: 0;
    width: 405px;
    height: 180px;
    position: absolute;
    background: url("../../images/prize_corner_XL.svg") no-repeat center center;
  }
  .e-block--prize-solo.small {
    width: 280px;
  }

  .icon-prize-1st.solo {
    right: -26px;
  }
  .icon-prize-2nd.solo,
  .icon-prize-3rd.solo {
    right: 35px;
  }
  .icon-prize--additional {
    display: block;
    text-align: center;
    bottom: -150px;
    /* left: -11px; */
    width: 325px;
    height: 165px;
    padding-top: 100px;
    background: url("../../images/icon_prize_1st-additional.svg") no-repeat
      center center;
  }
  .icon-prize--additional.solo {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 240px;
    background: url("../../images/top5.svg") no-repeat center center;
  }
}
/* partners */

.partner-maincast {
  width: 259px;
  height: 53px;
}
.partner-faceit {
  width: 253px;
  height: 57px;
}
.partner-maincast,
.partner-faceit {
  display: inline-block;
  position: relative;
}
.partner-maincast:after,
.partner-faceit:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: url("../../images/partners.svg") no-repeat;
}
.partner-maincast:after {
  width: 259px;
  height: 53px;
  background-position-x: 0;
}
.partner-faceit:after {
  width: 255px;
  height: 56px;
  background-position-x: -400px;
  background-position-y: -1px;
}
@media only screen and (min-width: 620px) {
  .partner-maincast {
    margin: 0 40px 0 0;
  }
}
@media only screen and (min-width: 1080px) {
  .partner-maincast {
    margin: 0 100px 0 0;
  }
}
