@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat/WEB/Akrobat-Regular.eot");
  src: url("../fonts/Akrobat/WEB/Akrobat-Regular.woff2") format("woff2"),
    url("../fonts/Akrobat/WEB/Akrobat-Regular.woff") format("woff"),
    url("../fonts/Akrobat/TTF/Akrobat-Regular.ttf") format("truetype");
  /* eot IE9 Compat Modes */
  /* woff2 Super Modern Browsers */
  /* woff Pretty Modern Browsers */
  /* ttf Safari, Android, iOS */
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("../fonts/Akrobat/WEB/Akrobat-Bold.eot");
  src: url("../fonts/Akrobat/WEB/Akrobat-Bold.woff2") format("woff2"),
    url("../fonts/Akrobat/WEB/Akrobat-Bold.woff") format("woff"),
    url("../fonts/Akrobat/TTF/Akrobat-Bold.ttf") format("truetype");
  /* eot IE9 Compat Modes */
  /* woff2 Super Modern Browsers */
  /* woff Pretty Modern Browsers */
  /* ttf Safari, Android, iOS */
}

body {
  color: #fff;
  font-family: "Akrobat", sans-serif;
}
