.o-page-container {
  width: 100%;
  height: 100%;
  padding: 0 25px 1px 25px;
  background: url("../../images/bg-big.jpg") no-repeat center top;
  background-size: cover;
}
@media screen and (max-width: 1080px) {
  .o-page-container {
    background-position: top 0 right 0;
    background-size: 230vw;
  }
}
.o-container {
  max-width: 1772px;
  margin: auto;
}
.o-container--section {
  max-width: 1345px;
  margin: auto;
}
.o-container--section-prize {
  max-width: 1252px;
  margin: auto;
}
.o-container--section.s-one {
  padding: 65px 0 145px 0;
}
.o-container--footer {
  max-width: 1580px;
  margin: auto;
  padding: 70px 0 20px 0;
}
.o-container--section.s-two {
  padding-bottom: 150px;
  position: relative;
}
.o-container--shedule {
  max-width: 1020px;
  padding-top: 32px;
}
.o-text-container {
  /* width: 373px; */
  max-width: 343px;
  text-align: left;
}
