*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.t-bold {
  font-weight: 700;
  font-family: "Akrobat-Bold", sans-serif;
}
.t-center {
  text-align: center;
}
.t-uppercase {
  text-transform: uppercase;
}
.t-title {
  font-size: 58px;
  margin: 0;
  text-transform: uppercase;
}
.t-subtitle {
  font-size: 36px;
  letter-spacing: 0.04em;
}
.t-event-date {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #a1b6ff;
}
.t-title-h3 {
  font-size: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.t-title-h4 {
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.t-event-prize {
  color: #f0ff43;
  font-size: 48px;
  margin-bottom: 0;
  letter-spacing: 0.02em;
}
.t-list {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
.t-list-bulletless {
  padding: 0;
  list-style-type: none;
}
.e-block--shcedule h4 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
/* prize */
.t-bg--prize-txt {
  position: relative;
  margin-top: 157px;
  margin-left: -28px;
}
.t-bg--prize-txt:after {
  content: "";
  position: absolute;
  width: 251px;
  top: 0;
  left: 1px;
  height: 60px;
  z-index: 9;
  background: url("../../images/prize-1st-plzce-text-bg.svg") no-repeat center
    center;
}

.t-max-width {
  max-width: 348px;
}
.t-max-width-smoll {
  max-width: 111px;
  display: inline-block;
}
.t-max-width-mid {
  max-width: 240px;
  display: inline-block;
}
.z-index-10 {
  position: relative;
  z-index: 10;
}
.t-bootcamp {
  padding: 5px 28px;
}
.e-block--prize h4 {
  margin: 20px;
}
